<fieldset>
  <legend>Page Information</legend>
  <p>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :published_on, "Date to publish" %>
    <%= f.text_field :published_on, :class => "is-datepicker" %>
  </p>
</fieldset>
<fieldset>
  <legend>Image Information</legend>
  <p>
    <%= f.label :image, "Image" %>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :image_credits, "Taken by" %>
    <%= f.text_field :image_credits %>
  </p>
  <p>
    <%= f.label :image_taken_in, "Taken in" %>
    <%= f.text_field :image_credits %>
  </p>
</fieldset>
<fieldset>
  <legend>Music Information</legend>
</fieldset>

<% content_for :js_script do %>
  $('.is-datepicker').datepicker();
<% end %>
