<%= render :partial => 'admin/shared/main_nav' %>
<div class="grid_6 prefix_10">
  <ul class="main-nav">
    <li class="secondary"><%= link_to "Add New Page", new_admin_page_path %></li>
  </ul>
</div>
<div class="clear"></div>
<div class="grid_12">

  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Description</th>
      <th>Image Credits</th>
    </tr>
    </thead>
    <tbody>
    <% if @pages.empty? %>
    <tr>
      <td colspan="4">No page yet</td>
    </tr>
    <% end %>
    <% @pages.each do |page| %>
    <tr>
      <td><%= h(page.title) %></td>
      <td><%= format_date(page.published_on) %></td>
      <td><%= h(escape_javascript(page.description)) %></td>
      <td><%= h(page.image_credits) %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
