<% pages.each do |page| %>
  <div id="page_image_<%= page.id %>" class="fullimage" data-mp3="<%= page.music.url %>" data-title="<%= page.title %>" data-published-on="<%= format_date(page.published_on) %>">

    <%= image_tag page.image.url, :class => "bg" %>
  <div class="post">
    <ul class="clearfix" >
      <li class="colL"><h2 class="pagePublishedOn"><%= format_date(page.published_on) %></h2></li>
      <li class="colR"><a class="uiIcons excol haiku_colex" title="collapse/expand the haiku" ><span>c/x</span></a></li>
    </ul>
    <h2 class="pageTitle"><%= page.title%></h2>
    <div class="innerPost">
      <div class="haiku">
        <p><%= page.description %></p>
      </div>
      <div class="credits">
        <p>Image by: <%= page.image_credits%></p>
        <p>Shot taken in <%= page.image_taken_in%></p>
        <p>Misic by: <%= page.music_credits%></p>
      </div>
    </div>
      <div id="audioPlayer" class="audioPlayer">
        <div id="audioPlayerContainer">
          <div class="audioPlayer">
          <object type="application/x-shockwave-flash" data="/player.swf" id="audioplayer<%= page.id %>" height="24" width="290">
            <param name="movie" value="/player.swf">
            <param name="FlashVars" value="playerID=<%= page.id  %>&amp;bg=#000000&amp;loop=true&amp;soundFile=http:<%= page.music.url %>">
            <param name="quality" value="high">
            <param name="menu" value="false">
            <param name="wmode" value="transparent">
          </object> 
          </div>
        </div>
     </div>
  </div>
  </div>
<% end %>
