<% content_for :js do %>
  <%= javascript_include_tag "jquery.galleriffic" %>
<% end %>
<% content_for :css do %>
  <%= stylesheet_link_tag "galleriffic" %>
<% end %>

      <!-- Start Advanced Gallery Html Containers -->



<div id="thumbs">
  <ul class="thumbs noscript">
  <% @pages.each do |page| %>
    <% cache (:controller => "pages", :action => "index", :page_id => page.id) do %>
    <li>
        <%= link_to  image_tag(page.image.url(:thumb), :alt => page.title ), page.image.url(:fullimage), :title => page.title, :class => "thumb" %>
        <div class="caption post">
          <h2 class="pageTitle"><%= page.title%></h2>
          <div class="innerPost">
            <div id="page_haiku_<%= page.id %>" class="haiku">
              <p><%= page.description %></p>
            </div>
            <div class="credits">
              <p>Image by: <%= page.image_credits%></p>
              <p>Shot taken in <%= page.image_taken_in%></p>
              <p>Misic by: <%= page.music_credits%></p>
            </div>
          </div>
            <div id="audioPlayer" class="audioPlayer">
              <div id="audioPlayerContainer">
                <div class="audioPlayer">
                <object type="application/x-shockwave-flash" data="/player.swf" id="audioplayer<%= page.id %>" height="24" width="290">
                  <param name="movie" value="/player.swf">
                  <param name="FlashVars" value="playerID=<%= page.id  %>&amp;bg=#000000&amp;loop=true&amp;soundFile=http:<%= page.music.url %>">
                  <param name="quality" value="high">
                  <param name="menu" value="false">
                  <param name="wmode" value="transparent">
                </object> 
                </div>
              </div>
           </div>
        </div>
    </li>
    <% end %>
  <% end %>
  </ul>
</div>

<div id="gallery" class="content">
  <div id="controls" class="controls"></div>
  <div id="loading" class="loader"></div>
  <div id="slideshow" class="slideshow pages"></div>
  <div id="caption"></div>
</div>


<% javascript_tag do %>
// We only want these styles applied when javascript is enabled
    $('div.navigation').css({'width' : '300px', 'float' : 'left'});
    $('div.content').css('display', 'block');

    // Initially set opacity on thumbs and add
    // additional styling for hover effect on thumbs
    var onMouseOutOpacity = 0.67;
    $('#thumbs ul.thumbs li').css('opacity', onMouseOutOpacity)
      .hover(
        function () {
          $(this).not('.selected').fadeTo('fast', 1.0);
        }, 
        function () {
          $(this).not('.selected').fadeTo('fast', onMouseOutOpacity);
        }
      );

$(document).ready(function() {
  var galleryAdv = $('#gallery').galleriffic('#thumbs', {
        delay:                  2000,
        numThumbs:              10,
        preloadAhead:           10,
        enableTopPager:         false,
        enableBottomPager:      true,
        imageContainerSel:      '#slideshow',
        controlsContainerSel:   '#controls',
        captionContainerSel:    '#caption',
        loadingContainerSel:    '#loading',
        renderSSControls:       true,
        renderNavControls:      true,
        playLinkText:           'Play Slideshow',
        pauseLinkText:          'Pause Slideshow',
        prevLinkText:           '&lsaquo; Previous Photo',
        nextLinkText:           'Next Photo &rsaquo;',
        nextPageLinkText:       'Next &rsaquo;',
        prevPageLinkText:       '&lsaquo; Prev',
        enableHistory:          true,
        autoStart:              false,
        onChange:               function(prevIndex, nextIndex) {
          $('#thumbs ul.thumbs').children()
            .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
            .eq(nextIndex).fadeTo('fast', 1.0);
        },
        onTransitionOut:        function(callback) {
          $('#caption').fadeTo('fast', 0.0);
          $('#slideshow').fadeTo('fast', 0.0, callback);
        },
        onTransitionIn:         function() {
          $('#slideshow').fadeTo('fast', 1.0);
          $('#caption').fadeTo('fast', 1.0);
        },
        onPageTransitionOut:    function(callback) {
          $('#thumbs ul.thumbs').fadeTo('fast', 0.0, callback);
        },
        onPageTransitionIn:     function() {
          $('#thumbs ul.thumbs').fadeTo('fast', 1.0);
        }
      });

});
<% end %>
